@import url("form.css");
@import url("flash.css");
@import url("table.css");

html {
  overflow-y: scroll;
}
body {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    border-bottom: 4px double #aaa;
}
h2 {
    border-bottom: 1px solid #ccc;
}
