<%- include('header') -%>

<h2>Profile user '<%= user.username %>'</h2>

<p>Here are details on the user.</p>

<table class="bgcolor">
  <tr>
    <th>User id</th>
    <td><%= user.id %></td>
  </tr>
  <tr>
    <th>Username</th>
    <td><%= user.username %></td>
  </tr>
  <tr>
    <th>Role</th>
    <td><%= user.role %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= user.email %></td>
  </tr>
</table>
